input { pipeline { address => traces_dsn } }

filter {
    # extract the json part of the message string into a separate field
    grok { 
        match => { "message" => "^.*?(?<logged_json>{.*)" }
    } 
    
    # parse the json and remove the string field upon success
    json { 
        source => "logged_json" 
        remove_field => [ "logged_json" ] 
        target => "json_data"
    }
      
    # remove leading and trailing < > characters
    mutate{
        gsub => [ 
            "[json_data][dsn_message_id]", "<", "",
            "[json_data][dsn_message_id]", ">", ""
		]
		gsub => [ 
            "[json_data][dsn_id_original_mail]", "<", "",
            "[json_data][dsn_id_original_mail]", ">", ""
		]
            
        # mapping
        copy => { "[json_data][dsn_message_id]" => "messageId" }
        copy => { "[json_data][dsn_id_original_mail]" => "idOriginalMail" }
        copy => { "[json_data][dsn_DateTime]" => "dateTime" }
        copy => { "[json_data][dsn_Cause]" => "cause" }
        copy => { "[json_data][dsn_recipientBal]" => "recipientBal" }
        copy => { "[json_data][dsn_recipientFrontal]" => "nomFrontal" }
              

        remove_field => [ "json_data" ] 
    }
}

# upsert to elasticsearch
output {
  elasticsearch {
    hosts => ["https://service.localdomain:9200"]
    user => "admin"
    password => "ChangezMoi"
    ssl_certificate_verification => false
    index => "msgsv-traces_dsn-%{+YYYY.MM.dd}"
  }
}
