input { pipeline { address => traces_action } }

filter { 

    # extract the json part of the message string into a separate field
    grok { 
        match => { "message" => "^.*?(?<logged_json>{.*)" } 
    } 
    
    # parse the json and remove the string field upon success
    json { 
        source => "logged_json" 
        remove_field => [ "logged_json" ] 
    }
   
    mutate{	
            
        # mapping
		copy => { "[json_data][action]" => "action" }
        copy => { "[json_data][dateTime]" => "dateTime" }
        copy => { "[json_data][user]" => "user" }
        copy => { "[json_data][actionStatus]" => "actionStatus" }
        copy => { "[json_data][parametres]" => "parametres" }

        remove_field => [ "json_data" ] 
    }
}

# insert to elasticsearch
output {
  elasticsearch {
    hosts => ["https://service.localdomain:9200"]
    user => "admin"
    password => "ChangezMoi"
    ssl_certificate_verification => false
    index => "msgsv-traces_actions-%{+YYYY.MM.dd}"
  }
}

