input { pipeline { address => traces } }

filter { 

    # extract the json part of the message string into a separate field
    grok { 
        match => { "message" => "^.*?(?<logged_json>{.*)" } 
    } 
    
    # parse the json and remove the string field upon success
    json { 
        source => "logged_json" 
        remove_field => [ "logged_json" ] 
    }
    
    mutate{
        # remove leading and trailing < > characters
        gsub => [ 
            "messageId", "<", "",
            "messageId", ">", ""
		]
    }
}

# insert to elasticsearch
output {
  elasticsearch {
    hosts => ["https://service.localdomain:9200"]
    user => "admin"
    password => "ChangezMoi"
    ssl_certificate_verification => false
    index => "msgsv-traces-%{+YYYY.MM.dd}"
  }
}
