input { pipeline { address => traces_virus } }

filter { 

    # extract the json part of the message string into a separate field
    grok { 
        match => { "message" => "^.*?(?<logged_json>{.*)" } 
    } 
    
    # parse the json and remove the string field upon success
    json { 
        source => "logged_json" 
        remove_field => [ "logged_json" ] 
    }
   
    mutate{	
	            
        # mapping
		copy => { "[json_data][messageId]" => "messageId" }
        copy => { "[json_data][dateTime]" => "dateTime" }
        copy => { "[json_data][sender]" => "sender" }
        copy => { "[json_data][originalRecipients]" => "originalRecipients" }
        copy => { "[json_data][originalSubject]" => "originalSubject" }
		copy => { "[json_data][originalContentDescription]" => "originalContentDescription" }
		copy => { "[json_data][recipientsAfterVirusAnalysis]" => "recipientsAfterVirusAnalysis" }
		copy => { "[json_data][subjectAfterVirusAnalysis]" => "subjectAfterVirusAnalysis" }
		copy => { "[json_data][contentDescriptionAfterVirusAnalysis]" => "contentDescriptionAfterVirusAnalysis" }
		copy => { "[json_data][flux]" => "flux" }
		copy => { "[json_data][name]" => "virus_name" }

        remove_field => [ "json_data" ] 
    }
}

# insert to elasticsearch
output {
  elasticsearch {
    hosts => ["https://service.localdomain:9200"]
    user => "admin"
    password => "ChangezMoi"
    ssl_certificate_verification => false
    index => "msgsv-traces_virus-%{+YYYY.MM.dd}"
  }
}

